<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Enews - E107 Extended/Enhanced News" lan="ENEWS_FULL_NAME" version="0.1.0b" date="2025-02-05" compatibility="2.3" installRequired="false" xhtmlcompliant="true" >
	<author name="rica-carv" email="selo.fan@gmail.com" url="https://github.com/rica-carv" />
		<description lan="LAN_ENEWS_DESC">E107 Extended news management area</description>
	<keywords>
		<word>enhancement</word>
		<word>news</word>
		<word>info</word>
	</keywords>
	<category>menu</category>
</e107Plugin>